/* +-----------------------------------------------------------+
            - Homepage - Styling & Animation Loader -
+-----------------------------------------------------------+ */
@use "../abstracts/variables" as v;
@use "../base/typography" as t;

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    animation: fade-out 3.2s ease-in-out forwards;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
  }

.loader__informations{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
    display: flex;
    flex-direction: column;
    animation: fade-out 3.2s ease-in-out forwards;

    & .header__img-container{
        background-color: v.$color-white;
        z-index: 99999999;
    }
  }

.slot-machine {
	display: flex;
	position: fixed;
	top: 14rem;
    border-radius: 1rem;
    background-color: transparent;

}

.band {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    margin: 0 5px;
    position: relative;
    border: 3px solid v.$color-grey;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 230, 0.5),rgba(147,86,220,0.5));
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);

    &:nth-of-type(2){
        background: linear-gradient(135deg, rgba(255, 255, 230, 0.5),rgba(255, 121, 218,0.5));
    }

    &:nth-of-type(3){
        background: linear-gradient(135deg, rgba(255, 255, 230, 0.5),rgba(153,226,208,0.5));
    }
}

.symbols {
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: spin 3s linear infinite;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    font-family: 'Shrikhand';
    font-weight: 400;
}

.loader__logo{
    font-size: 2rem;
}

.band:nth-child(2) .symbols {
    animation-delay: 0.3s;
}

.band:nth-child(3) .symbols {
    animation-delay: 0.6s;
}

.text-container {
	position: absolute;
	width: 100%;
	height: 16rem;
	z-index: 111111;
    background-color: #F3F3F3;
}


.loading-text {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    opacity: 0;
    position: fixed;
    top:5rem;
    animation: slideDown 3s infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: v.$color-grey-tint-4;
  }

.loading-text:nth-child(1) {
    animation-delay: 0s;
}

.loading-text:nth-child(2) {
    animation-delay: 1s;
}

.loading-text:nth-child(3) {
    animation-delay: 2s;
}

// ### --- Animation Loader ---
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    10%, 30% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: translateY(-1280px);
    }
    30% {
        transform: translateY(-800px);
    }
    80% {
        transform: translateY(-640px);
    }
    90% {
        transform: translateY(-640px);
    }
    100% {
        transform: translateY(-640px);
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    97%{
        opacity: 0.98;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

// ### --- Heart Loader ---
.container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 8rem;
  }

  .heart-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: heartbeat 1.2s ease-in-out infinite;
    transform-origin: center;
  }

  .liquid-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' height='64' width='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'%3E%3C/path%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' height='64' width='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
     animation: heartbeat 1.2s ease-in-out infinite;
    transform-origin: center;
  }

  .liquid {
    position: absolute;     
    bottom: 0;
    left: 0;
    width: 200%;
    height: 0%;
    background: linear-gradient(6deg, rgba(147, 86, 220, 0.80) 25%, rgb(255, 121, 218) 150%);
    animation: fill 3s ease-in-out infinite;
  }

  .liquid::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -550px;
    width: 400%;
    height: 25px;
    background: linear-gradient(6deg, rgba(147, 86, 220, 0.80) 25%, rgb(255, 121, 218) 100%);
    border-radius: 50%;
    animation: wave 1.5s linear infinite;
  }

  @keyframes fill {
    0% {
      height: 0%;
    }
    50% {
      height: 70%;
    }
    100% {
      height: 100%;
    }
  }

  @keyframes wave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    15% {
      transform: scale(1.08);
    }
    30% {
      transform: scale(1);
    }
    45% {
      transform: scale(1.06);
    }
    60% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }


/* +-----------------------------------------------------------+
            - Menu -  Animation liste  -
+-----------------------------------------------------------+ */  

// ### --- Animation liste---
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  

$base-delay: 200ms; // Délai entre chaque élément
$section-delay: 700ms; // Délai supplémentaire entre les sections

// Boucle pour les sections
@for $section from 1 through 3 {
  .menu__main__sections:nth-of-type(#{$section}) {
    // Délai de base pour cette section
    $section-base-delay: ($section - 1) * $section-delay;
    
    // Boucle pour les éléments dans chaque section
    @for $item from 1 through 20 { 
      .menu__main__sections__list__items:nth-child(#{$item}) {
        animation-delay: #{$section-base-delay + ($item * $base-delay)};
      }
    }
  }
}
