/* +-----------------------------------------------------------+
                        Main.scss FILE
+-----------------------------------------------------------+ */

// ### ---- IMPORTS ----
@use "../abstracts/variables" as v;
@use "../base/typography" as t;
@use "../base/fonts" as f;
@use '../pages/animations.scss';
@use '../pages/home.scss';
@use "../pages/menu2.scss";
@use "../components/footer";


*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.visualy-hidden{
    visibility: hidden;
    width:0.125rem;
    height: 0.125rem;
    display: block;
}

a{
    all: unset;
    cursor: pointer;
}