/* +-----------------------------------------------------------+
                       _Variables FILE
+-----------------------------------------------------------+ */

// ### --- Define colors variables ---
$color-background: rgba(246,246,246,1);
$color-secondary: rgba(252,163,17,1);
$color-primary: rgba(147,86,220,1);
$color-green: rgba(153,226,208,1);
$color-green-font: rgba(0,135,102,1);
$color-white: rgba(255,255,255,1);
$color-black: rgba(16,16,16,1);
$color-grey: rgba(53,53,53,1);
$color-grey-2: rgba(234,234,234,1);
$color-primary-2: rgba(245,237,255,1);
$color-grey-tint-4: rgba(126,126,126,1);
$color-button-gradient: linear-gradient(6deg, rgba(147, 86, 220, 0.80) 25%, rgb(255, 121, 218) 150%);
$shadow-box:  0 4px 15px 0 rgb(0,0,0,0.1);
$shadow-btn: 0 4px 10px 0 rgb(0,0,0,0.25);